!!!

html
	head
		title Bubble Chart Demo
		link(type="text/css", rel="stylesheet", href="style.css")
	body
		#chart
		script(type="text/javascript", src="http://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.4/require.min.js", data-main="client")
